version: "3.9"

services:

  db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - dbdata:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d
    ports:
      - "3307:3306"

  api:
    build: .
    container_name: go-api
    depends_on:
      - db
    ports:
      - "8080:8080"
    init: true

volumes:
  dbdata:
